@model BookStore.Models.Order

@{
    ViewBag.Title = "Подробнее";
}

<div class="content">
    <h2>Подробнее</h2>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ClientID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClientID)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Date)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Date)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>
    <p>
        @Html.ActionLink("Вернуится к списку заказов", "Index")
    </p>

</div>
